@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
  list-style: none;
}

img {
  max-width: 100%;
}

.container {
  margin: auto;
  max-width: 1150px;
  justify-content: center;
  align-items: center;
  position: relative;
}

:root {
  --bg-black-900: #000;
  --bg-black-100: #ddd;
  --bg-black-50: #eff0f4;
  --bg-text-900: #000;
  --bg-text-700: #555;
  --bg-text-600: #666;
  --bg-text-300: #bbb;
  --bg-opacity: rgba(43, 44, 47, 0.5);
  --skin-color: #fb839e;
  --outer-shadow: -3px -3px 3px #d0d0d0, 3px 3px 3px #f8f8f8;
  --outer-shadow-0: 0 0 0 #d0d0d0, 0 0 0 #f8f8f8;
  --inner-shadow: inset 3px 3px 3px #d0d0d0, inset -3px -3px 3px #f8f8f8;
  --inner-shadow-0: inset 0 0 0 #d0d0d0, inset 0 0 0 #f8f8f8;
}

body {
  font-size: 16px;
  line-height: 1.5;
  overflow-x: hidden;
  background: var(--bg-black-50);
}
body.dark {
  --bg-black-900: #fff;
  --bg-black-100: #353535;
  --bg-black-50: #2b2b2b;
  --bg-text-900: #fff;
  --bg-text-700: #fff;
  --bg-text-600: #bbb;
  --outer-shadow: -3px -3px 3px #222327, 3px 3px 3px #363636;
  --outer-shadow-0: 0 0 0 #222327, 0 0 0 #363636;
  --inner-shadow: inset 3px 3px 3px #222327, inset -3px -3px 3px #363636;
  --inner-shadow-0: inset 0 0 0 #222327, inset 0 0 0 #363636;
}

.outer-shadow {
  box-shadow: var(--outer-shadow);
}

.inner-shadow {
  box-shadow: var(--inner-shadow);
}

.hover-in-shadow {
  z-index: 1;
  position: relative;
}
.hover-in-shadow:hover {
  box-shadow: var(--outer-shadow-0);
}
.hover-in-shadow:hover::after {
  box-shadow: var(--inner-shadow);
}
.hover-in-shadow::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transition: all 0.3s ease;
}

.alin-items-center {
  align-items: center;
}

.btn-1 {
  padding: 10px 25px;
  font-size: 16px;
  font-weight: 500;
  color: var(--skin-color);
  background: transparent;
  line-height: 1.5;
  cursor: pointer;
  border-radius: 30px;
  transition: all 0.3s ease;
  display: inline-block;
  border: none;
}
.btn-1::after {
  border-radius: 30px;
}

.effect-wrap .effect {
  z-index: -1;
  position: absolute;
}
.effect-wrap .effect-1 {
  width: 30px;
  height: 30px;
  border: 4px solid #8a49ff;
  right: 10%;
  bottom: 10%;
  -webkit-animation: spin 10s linear infinite;
          animation: spin 10s linear infinite;
}
.effect-wrap .effect-2 {
  left: 3%;
  bottom: 20%;
  width: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  -webkit-animation: topBounce 3s ease-in-out infinite;
          animation: topBounce 3s ease-in-out infinite;
}
.effect-wrap .effect-2 div {
  height: 3px;
  width: 3px;
  background: #ff9c07;
  margin: 0 3px 8px;
}
.effect-wrap .effect-3 {
  height: 180px;
  width: 180px;
  border: 25px solid var(--skin-color);
  border-radius: 50%;
  left: 50%;
  top: -120px;
  -webkit-animation: leftBounce 3s ease-in-out infinite;
          animation: leftBounce 3s ease-in-out infinite;
}
.effect-wrap .effect-4 {
  border-top: 30px solid transparent;
  border-left: 30px solid #06d79c;
  left: 30%;
  top: 20%;
  -webkit-animation: spin 15s linear infinite;
          animation: spin 15s linear infinite;
}
.effect-wrap .effect-4::before {
  content: "";
  border-top: 30px solid transparent;
  border-left: 30px solid #06d79c;
  position: absolute;
  opacity: 0.5;
  left: -35px;
  top: -25px;
}
.effect-wrap .effect-5 {
  width: 50px;
  height: 50px;
  right: 10%;
  top: 30%;
  display: flex;
  justify-content: space-between;
  border-radius: 50%;
  overflow: hidden;
  -webkit-animation: spin 10s linear infinite;
          animation: spin 10s linear infinite;
}
.effect-wrap .effect-5 div {
  width: 1px;
  background: #4dd0e1;
}

@-webkit-keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes topBounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(25px);
  }
}
@keyframes topBounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(25px);
  }
}
@-webkit-keyframes leftBounce {
  0%, 100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(25px);
  }
}
@keyframes leftBounce {
  0%, 100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(25px);
  }
}
.section-title {
  padding: 0 15px;
  max-width: 100%;
  text-align: center;
  font-size: 30px;
  text-transform: uppercase;
  margin-bottom: 60px;
}
.section-title h2 {
  color: var(--bg-text-900);
  font-weight: 700;
  margin: 0;
  display: inline-block;
}
.section-title h2::before {
  content: attr(data-heading);
  display: block;
  font-size: 16px;
  font-weight: 600;
  color: var(--skin-color);
}

.reveal {
  position: relative;
  transform: translateY(50px);
  opacity: 0;
  transition: all 1.5s ease;
}
.reveal.active {
  opacity: 1;
  transform: translateY(0);
}

.section.hide {
  display: none;
}

*:not(i) {
  font-weight: 400;
  font-family: "Raleway", sans-serif;
}

.header {
  width: 100%;
  top: 0;
  left: 0;
  z-index: 99;
  padding: 20px 15px;
  position: absolute;
}
.header .row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.header .row .logo a {
  width: 40px;
  height: 40px;
  display: inline-block;
  text-align: center;
  line-height: 35px;
  border: 2px solid var(--skin-color);
  font-size: 24px;
  border-radius: 50%;
  color: var(--skin-color);
  font-weight: 600;
  text-transform: uppercase;
}
.header .row .hamburger-btn {
  width: 40px;
  height: 40px;
  cursor: pointer;
  transition: all 0.3s ease;
  border-radius: 40px;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header .row .hamburger-btn::after {
  border-radius: 40px;
}
.header .row .hamburger-btn span {
  width: 16px;
  height: 2px;
  display: block;
  position: relative;
  background: var(--bg-black-900);
}
.header .row .hamburger-btn span::before, .header .row .hamburger-btn span::after {
  content: "";
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  background: var(--bg-black-900);
}
.header .row .hamburger-btn span::before {
  top: -6px;
}
.header .row .hamburger-btn span::after {
  top: 6px;
}

.nav-menu {
  position: fixed;
  padding: 0 15px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: var(--bg-black-50);
  z-index: -1;
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
}
.nav-menu.open {
  visibility: visible;
  opacity: 1;
  z-index: 999;
  transition: all 0.3s ease-in;
}
.nav-menu p.copyright {
  position: absolute;
  left: -90px;
  top: 50%;
  font-size: 15px;
  color: var(--bg-text-600);
  transform: translateY(-50%) rotate(-90deg);
}
.nav-menu .close-nav-menu {
  width: 40px;
  height: 40px;
  display: block;
  font-size: 35px;
  line-height: 35px;
  border-radius: 50%;
  position: absolute;
  right: 15px;
  top: 15px;
  cursor: pointer;
  text-align: center;
  color: var(--bg-text-600);
  transition: all 0.3s ease;
}
.nav-menu .close-nav-menu::after {
  border-radius: 50%;
}
.nav-menu .nav-menu-inner {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-menu .nav-menu-inner ul {
  padding: 15px;
  text-align: center;
}
.nav-menu .nav-menu-inner ul li {
  display: block;
  margin-bottom: 20px;
}
.nav-menu .nav-menu-inner ul li a {
  display: inline-block;
  font-size: 28px;
  font-weight: 600;
  color: var(--bg-text-600);
  padding: 5px 30px;
  border-radius: 30px;
  text-transform: capitalize;
  transition: all 0.3s ease;
}
.nav-menu .nav-menu-inner ul li a.active {
  color: var(--skin-color);
}
.nav-menu .nav-menu-inner ul li a::after {
  border-radius: 30px;
}
.nav-menu .nav-menu-inner ul li:last-child {
  margin-bottom: 0;
}

.fade-out-effect {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: var(--bg-black-50);
  visibility: hidden;
  z-index: -1;
}
.fade-out-effect.active {
  visibility: visible;
  z-index: 1000;
  -webkit-animation: fadeOut 0.3s ease-out;
          animation: fadeOut 0.3s ease-out;
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/*---------------------
  navigation menu end
  ---------------------*/
/*--------------------
  home-section start
  --------------------*/
.home-section {
  position: relative;
}
.home-section .full-screen {
  padding: 120px 0;
  min-height: 100%;
  display: flex;
}
.home-section .full-screen .home-text,
.home-section .full-screen .home-img {
  flex: 0 0 50%;
  max-width: 50%;
  padding: 0 15px;
}
.home-section .full-screen .home-text p {
  color: var(--bg-text-300);
  font-size: 18px;
  text-transform: capitalize;
  margin: 0;
}
.home-section .full-screen .home-text h2 {
  font-size: 54px;
  font-weight: 700;
  color: var(--bg-text-900);
  margin: 0;
}
.home-section .full-screen .home-text .animated-text {
  height: 70px;
  overflow: hidden;
  position: relative;
}
.home-section .full-screen .home-text .animated-text h1 {
  color: var(--bg-text-700);
  font-weight: 600;
  font-size: 2em;
  line-height: 70px;
  letter-spacing: 1px;
  margin: 0;
  text-transform: capitalize;
}
.home-section .full-screen .home-text .animated-text h1:nth-child(1) {
  -webkit-animation: text-move 10s infinite;
          animation: text-move 10s infinite;
}
.home-section .full-screen .home-text .btn-1 {
  margin-top: 30px;
}
@-webkit-keyframes text-move {
  0% {
    margin-top: 0;
  }
  25% {
    margin-top: -70px;
  }
  50% {
    margin-top: -140px;
  }
  75% {
    margin-top: -70px;
  }
  100% {
    margin-top: 0;
  }
}
@keyframes text-move {
  0% {
    margin-top: 0;
  }
  25% {
    margin-top: -70px;
  }
  50% {
    margin-top: -140px;
  }
  75% {
    margin-top: -70px;
  }
  100% {
    margin-top: 0;
  }
}
.home-section .full-screen .home-img .img-box {
  max-width: 450px;
  display: block;
  margin: auto;
  border-radius: 50%;
  padding: 12px;
}
.home-section .full-screen .home-img .img-box img {
  width: 100%;
  border-radius: 50%;
  border: 10px solid transparent;
}

/*--------------------
  home-section end
  --------------------*/
/*--------------
about start
--------------*/
.about-section {
  width: 100%;
  padding: 80px 0 0;
  min-height: 100vh;
  /*--------------
  about tab sart 
  --------------*/
  /*--------------
  about tab end
  --------------*/
  /*-----------------
  about skill start
  -----------------*/
  /*-----------------
  about skill end
  -----------------*/
  /*--------------------------
  experience education start
  -------------------------*/
  /*--------------------------
  experience education end
  -------------------------*/
}
.about-section .row {
  display: flex;
}
.about-section .row .about-img {
  flex: 0 0 40%;
  max-width: 40%;
  padding: 0 15px;
}
.about-section .row .about-img .img-box {
  padding: 12px;
  border-radius: 5px;
}
.about-section .row .about-img .img-box img {
  width: 100%;
  border-radius: 5px;
  border: 10px solid transparent;
}
.about-section .row .about-img .social-link {
  margin-top: 20px;
  text-align: center;
}
.about-section .row .about-img .social-link a {
  display: inline-block;
  width: 40px;
  height: 40px;
  font-size: 16px;
  text-align: center;
  line-height: 40px;
  color: var(--bg-text-600);
  margin: 0 4px;
  border-radius: 50%;
  transition: all 0.3s ease;
}
.about-section .row .about-img .social-link a i {
  line-height: 40px;
}
.about-section .row .about-img .social-link a:hover {
  color: var(--skin-color);
}
.about-section .row .about-img .social-link a::after {
  border-radius: 50%;
}
.about-section .row .about-info {
  flex: 0 0 60%;
  max-width: 60%;
  padding: 0 15px;
}
.about-section .row .about-info p {
  text-align: justify;
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 15px;
  color: var(--bg-text-600);
}
.about-section .row .about-info p span {
  font-weight: 600;
}
.about-section .row .btn-1 {
  margin: 30px 20px 0 0;
}
.about-section .about-tabs {
  padding: 60px 15px 50px;
  flex: 0 0 100%;
  max-width: 100%;
  text-align: center;
}
.about-section .about-tabs .tab-item {
  display: inline-block;
  margin: 0 5px 10px;
  padding: 5px 10px;
  border-radius: 30px;
  cursor: pointer;
  font-size: 16px;
  transition: all 0.3s ease;
  color: var(--bg-text-600);
  font-weight: 500;
  text-transform: capitalize;
}
.about-section .about-tabs .tab-item.active {
  color: var(--skin-color);
}
.about-section .about-tabs .tab-item:hover:not(.active) {
  opacity: 0.6;
}
.about-section .tab-content {
  flex: 0 0 100%;
  max-width: 100%;
  display: none;
}
.about-section .tab-content.active {
  display: block;
  -webkit-animation: fadeIntop 0.5s;
          animation: fadeIntop 0.5s;
}
@-webkit-keyframes fadeInTop {
  0% {
    opacity: 0;
    transform: translateY(-25px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
@keyframes fadeInTop {
  0% {
    opacity: 0;
    transform: translateY(-25px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
.about-section .skills {
  width: 100%;
}
.about-section .skills .grid {
  display: grid;
  grid-template-columns: repeat(2, 48%);
  grid-template-rows: repeat(3, auto);
  gap: 3%;
  padding-bottom: 40px;
}
.about-section .skills .grid .skill-item {
  padding: 0 15px;
  margin-bottom: 40px;
}
.about-section .skills .grid .skill-item p {
  margin: 0 10px;
  font-size: 16px;
  color: var(--bg-text-600);
  text-transform: capitalize;
}
.about-section .skills .grid .skill-item .progress {
  height: 20px;
  border-radius: 10px;
  position: relative;
}
.about-section .skills .grid .skill-item .progress .progress-bar {
  background: var(--bg-text-600);
  height: 6px;
  left: 7px;
  top: 7px;
  position: absolute;
  border-radius: 10px;
}
.about-section .skills .grid .skill-item .progress .progress-bar span {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 16px;
  font-weight: 500;
  color: var(--bg-text-600);
  margin-top: -40px;
}
.about-section .experience,
.about-section .education {
  padding-bottom: 80px;
}
.about-section .experience .timeline,
.about-section .education .timeline {
  flex: 0 0 100%;
  max-width: 100%;
  position: relative;
}
.about-section .experience .timeline::before,
.about-section .education .timeline::before {
  content: "";
  left: 50%;
  top: 0;
  width: 1px;
  height: 100%;
  background-color: var(--bg-black-100);
  position: absolute;
}
.about-section .experience .timeline .timeline-item,
.about-section .education .timeline .timeline-item {
  flex: 0 0 100%;
  max-width: 100%;
  padding: 0 15px;
}
.about-section .experience .timeline .timeline-item:nth-child(odd),
.about-section .education .timeline .timeline-item:nth-child(odd) {
  padding-right: calc(50% + 50px);
  text-align: right;
}
.about-section .experience .timeline .timeline-item:nth-child(odd) .icon,
.about-section .education .timeline .timeline-item:nth-child(odd) .icon {
  right: -70px;
}
.about-section .experience .timeline .timeline-item:nth-child(odd) .timeline-item-inner::before,
.about-section .education .timeline .timeline-item:nth-child(odd) .timeline-item-inner::before {
  right: -30px;
}
.about-section .experience .timeline .timeline-item:nth-child(even),
.about-section .education .timeline .timeline-item:nth-child(even) {
  padding-left: calc(50% + 50px);
  text-align: left;
}
.about-section .experience .timeline .timeline-item:nth-child(even) .icon,
.about-section .education .timeline .timeline-item:nth-child(even) .icon {
  left: -70px;
}
.about-section .experience .timeline .timeline-item:nth-child(even) .timeline-item-inner::before,
.about-section .education .timeline .timeline-item:nth-child(even) .timeline-item-inner::before {
  left: -30px;
}
.about-section .experience .timeline .timeline-item-inner,
.about-section .education .timeline .timeline-item-inner {
  padding: 30px;
  border-radius: 5px;
  position: relative;
}
.about-section .experience .timeline .timeline-item-inner span,
.about-section .education .timeline .timeline-item-inner span {
  font-weight: 500;
  color: var(--skin-color);
  display: block;
  margin: 0 0 10px;
  text-transform: capitalize;
}
.about-section .experience .timeline .timeline-item-inner h3,
.about-section .education .timeline .timeline-item-inner h3 {
  font-size: 20px;
  color: var(--bg-text-700);
  font-weight: 600;
  margin: 0 0 5px;
  text-transform: capitalize;
}
.about-section .experience .timeline .timeline-item-inner h4,
.about-section .education .timeline .timeline-item-inner h4 {
  font-size: 16px;
  font-style: italic;
  color: var(--bg-text-600);
  margin: 0;
}
.about-section .experience .timeline .timeline-item-inner p,
.about-section .education .timeline .timeline-item-inner p {
  font-size: 16px;
  color: var(--bg-text-600);
  line-height: 26px;
  margin: 15px 0 0;
  text-align: justify;
}
.about-section .experience .timeline .timeline-item-inner .icon,
.about-section .education .timeline .timeline-item-inner .icon {
  top: 18px;
  width: 40px;
  height: 40px;
  border: 1px solid var(--bg-black-100);
  background: var(--bg-black-50);
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: var(--skin-color);
  position: absolute;
}
.about-section .experience .timeline .timeline-item-inner::before,
.about-section .education .timeline .timeline-item-inner::before {
  content: "";
  position: absolute;
  width: 30px;
  height: 1px;
  background: var(--bg-black-100);
  top: 37px;
  z-index: -1;
}

/*--------------
  about end
  --------------*/
/*--------------------
  Service section start
  --------------------*/
.service-section {
  padding: 80px 0 80px;
  height: 100%;
}
.service-section .grid {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 23px;
}
.service-section .grid .service-item {
  width: 32%;
  height: 288px;
}
.service-section .grid .service-item-inner {
  padding: 40px 15px;
  text-align: center;
  height: 100%;
  cursor: pointer;
  width: 100%;
}
.service-section .grid .service-item-inner h3 {
  font-size: 20px;
  font-weight: 600;
  color: var(--bg-text-700);
  margin: 0 0 10px;
  text-transform: capitalize;
}
.service-section .grid .service-item-inner p {
  font-size: 16px;
  color: var(--bg-text-600);
  margin: 0;
  line-height: 26px;
}
.service-section .grid .service-item-inner:hover .icon {
  box-shadow: var(--iner-shdow-0);
}
.service-section .grid .service-item-inner:hover .icon::after {
  box-shadow: var(--outer-shadow);
}
.service-section .grid .service-item-inner:hover .icon i {
  color: var(--skin-color);
}
.service-section .grid .service-item-inner .icon {
  width: 60px;
  height: 60px;
  text-align: center;
  border-radius: 50%;
  transition: all 0.3s ease;
  display: block;
  margin: 0 auto 30px;
  position: relative;
  color: var(--bg-text-600);
}
.service-section .grid .service-item-inner .icon::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transition: all 0.3s ease;
}
.service-section .grid .service-item-inner .icon i {
  font-size: 25px;
  line-height: 60px;
  transition: all 0.3s ease;
}

/*--------------------
  Service section end
  --------------------*/
/*-----------------------
  portfolio section start
  -----------------------*/
.portfolio-section {
  padding: 80px 0 80px;
  height: 100%;
}
.portfolio-section .section-title {
  margin-bottom: 40px;
}
.portfolio-section .portfolio-filter {
  padding: 0 15px;
  flex: 0 0 100%;
  max-width: 100%;
  text-align: center;
  margin-bottom: 1.5rem;
}
.portfolio-section .portfolio-filter .filter-item {
  display: inline-block;
  margin: 0 5px 10px;
  padding: 5px 10px;
  border-radius: 30px;
  cursor: pointer;
  font-weight: 500;
  color: var(--bg-text-600);
  text-transform: capitalize;
  font-size: 16px;
  transition: all 0.3s ease;
}
.portfolio-section .portfolio-filter .filter-item:hover {
  opacity: 0.6;
}
.portfolio-section .portfolio-filter .filter-item.active {
  color: var(--skin-color);
}
.portfolio-section .portfolio-grid {
  gap: 2%;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(3, 33%);
  grid-template-rows: repeat(2, auto);
}
.portfolio-section .portfolio-grid .portfolio-item {
  flex: 0 0 95%;
  max-width: 95%;
}
.portfolio-section .portfolio-grid .portfolio-item .portfolio-item-inner {
  padding: 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.portfolio-section .portfolio-grid .portfolio-item .portfolio-item-inner a {
  color: var(--bg-text-600);
}
.portfolio-section .portfolio-grid .portfolio-item .portfolio-item-inner a p:hover {
  color: #fb839e;
}

/*-----------------------
  portfolio section start
  -----------------------*/
.style-switcher {
  position: fixed;
  right: 0;
  top: 77px;
  padding: 15px;
  width: 200px;
  z-index: 101;
  transition: all 0.3s ease;
  transform: translateX(100%);
}
.style-switcher.open {
  cursor: pointer;
  transform: translateX(-15px);
}
.style-switcher .style-switcher-toggler {
  top: 0;
}
.style-switcher .day-night {
  top: 55px;
}
.style-switcher .s-icon {
  position: absolute;
  height: 40px;
  width: 40px;
  text-align: center;
  font-size: 20px;
  color: var(--bg-black-900);
  right: 100%;
  margin-right: 15px;
  transition: all 0.3s ease;
  border-radius: 50%;
  cursor: pointer;
}
.style-switcher .s-icon::after {
  border-radius: 50%;
}
.style-switcher .s-icon:first-child {
  -webkit-animation: spin 3s linear infinite;
          animation: spin 3s linear infinite;
}
.style-switcher .s-icon i {
  line-height: 40px;
}
.style-switcher h4 {
  margin: 0 0 10px;
  color: var(--bg-text-700);
  font-size: 16px;
  font-weight: 600;
  text-transform: capitalize;
}
.style-switcher .colors {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.style-switcher .colors span {
  display: inline-block;
  height: 30px;
  width: 30px;
  border-radius: 50%;
}
.style-switcher .colors span.color-1 {
  background-color: #fb839e;
}
.style-switcher .colors span.color-2 {
  background-color: #ec9412;
}
.style-switcher .colors span.color-3 {
  background-color: #1fc586;
}
.style-switcher .colors span.color-4 {
  background-color: #2eb1ed;
}
.style-switcher .colors span.color-5 {
  background-color: #cc3a3b;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/*---------------
contact start
---------------*/
.contact-section {
  padding: 80px 0 80px;
  min-height: 100vh;
}
.contact-section .contact-grid {
  display: grid;
  grid-template-columns: repeat(3, 32%);
  grid-template-rows: repeat(1, auto);
  gap: 25px;
  display: flex;
}
.contact-section .contact-grid .contact-item {
  width: 100%;
}
.contact-section .contact-grid .contact-item .contact-item-inner {
  padding: 30px 15px;
  text-align: center;
  border-radius: 5px;
}
.contact-section .contact-grid .contact-item .contact-item-inner i {
  font-size: 25px;
  color: var(--skin-color);
}
.contact-section .contact-grid .contact-item .contact-item-inner span {
  display: block;
  font-size: 16px;
  font-weight: 600;
  color: var(--bg-text-700);
  margin: 15px 0 5px;
  text-transform: capitalize;
}
.contact-section .contact-grid .contact-item .contact-item-inner p,
.contact-section .contact-grid .contact-item .contact-item-inner a {
  font-size: 16px;
  color: var(--bg-text-600);
  line-height: 26px;
  margin: 0;
  word-break: break-word;
}
.contact-section .contact-form {
  cursor: pointer;
  flex: 0 0 102%;
  max-width: 102%;
  margin-top: 50px;
}
.contact-section .contact-form form {
  width: 100%;
  display: flex;
}
.contact-section .contact-form form .w-50 {
  flex: 0 0 50%;
  margin-top: 20px;
}
.contact-section .contact-form form .w-50 .input-group {
  margin: 0 16px 25px 0;
  border-radius: 30px;
  transition: all 0.3s ease;
}
.contact-section .contact-form form .w-50 .input-group::after {
  border-radius: 30px;
}
.contact-section .contact-form form .w-50 .input-group .input-control {
  display: block;
  font-size: 16px;
  border: none;
  width: 100%;
  height: 45px;
  border-radius: 30px;
  padding: 0 15px;
  background: transparent;
  color: var(--bg-text-700);
}
.contact-section .contact-form form .w-50 .input-group textarea.input-control {
  height: 184px;
  padding-top: 15px;
  resize: none;
}
.contact-section .submit-btn {
  flex: 0 0 100%;
  max-width: 100%;
  text-align: right;
  padding: 0 15px;
  border: none;
}

/*---------------
    contact end
    ---------------*/
@media (max-width: 970px) {
  .service-section .grid .service-item {
    width: 48%;
  }
}
@media (max-width: 1145px) {
  .service-section {
    margin-left: 15px;
  }
}
@media (max-width: 769px) {
  .service-section {
    margin-left: 30px;
  }
  .row1 {
    display: flex;
    flex-direction: column;
    justify-content: center !important;
  }
  .home-section,
.about-section,
.portfolio-section,
.contact-section {
    right: 13px;
  }
  .home-section .container .full-screen .home-text,
.home-section .container .full-screen .home-img,
.about-section .container .row .about-img,
.about-section .container .row .about-info, .container .service .grid .service-item,
.contact-section .w-50,
.portfolio-section {
    text-align: center;
    align-items: center;
    flex: 0 0 95%;
    max-width: 95%;
  }
  .home-section {
    margin-left: 10%;
  }
  .home-section .home-text {
    order: 2;
    text-align: center;
  }
  .full-screen {
    padding: 100px 0;
  }
  .home-section .effect-wrap .effect-3 {
    margin-left: -60px;
  }
  .home-section .effect-wrap .effect-4 {
    left: 15%;
  }
  .home-section .effect-wrap .effect-5 {
    right: 5%;
  }
  .home-section .container .full-screen .home-img {
    margin-top: 60px;
  }
  .home-section .full-screen .home-img .img-box {
    margin-bottom: 40px;
    max-width: 350px;
  }
  .about-section {
    margin: 0 6% 0 6%;
  }
  .about-section .row {
    display: flex;
    flex-direction: column;
  }
  .about-section .row .about-img {
    display: flex;
    flex-direction: column;
  }
  .about-section .row .about-img .img-box {
    max-width: 450px;
    margin-bottom: 40px;
  }
  .about-section .row .about-info {
    margin-top: 1.5rem;
  }
  .about-section .row .grid {
    grid-template-columns: repeat(1, 95%) !important;
    grid-template-rows: repeat(5, auto) !important;
    justify-content: center;
    margin-bottom: 40px;
  }
  .about-section .timeline .timeline-item:nth-child(odd) {
    padding-right: 15px !important;
    text-align: left !important;
    padding-left: 75px !important;
  }
  .about-section .timeline .timeline-item:nth-child(even) {
    padding-left: 75px !important;
  }
  .about-section .timeline::before {
    left: 35px !important;
  }
  .about-section .timeline .timeline-item:nth-child(odd) {
    right: auto !important;
    left: -60px !important;
  }
  .about-section .timeline .timeline-item:nth-child(even) {
    left: -60px !important;
  }
  .about-section .timeline .timeline-item {
    margin-bottom: 40px !important;
  }
  .about-section .timeline .timeline-item:last-child {
    margin-bottom: 0 !important;
  }
  .about-section .timeline .timeline-item:nth-child(odd) .timeline-item-inner::before {
    left: -30px !important;
    right: 0 !important;
  }
  .about-section .education .timeline .timeline-item:nth-child(odd) .icon,
.about-section .experience .timeline .timeline-item:nth-child(odd) .icon {
    /* display: none !important; */
    left: -60px !important;
  }
  .contact-section .container .contact-grid {
    margin-left: 4%;
    flex-direction: column;
    grid-template-columns: repeat(1, 50%);
    grid-template-rows: repeat(6, auto);
  }
  .contact-section .container .contact-input-grid .contact-form form {
    display: flex;
    flex-direction: column;
    margin-left: 11%;
  }
  .contact-section .contact-grid .contact-item {
    width: 95% !important;
    margin-left: auto !important;
  }
  .portfolio-section {
    margin-left: 14%;
  }
  .portfolio-section .portfolio-grid {
    grid-template-columns: repeat(1, 100%) !important;
    grid-template-rows: repeat(6, auto) !important;
  }
  .portfolio-section .portfolio-grid .portfolio-item:last-child {
    margin-bottom: 40px;
  }
}
@media (max-width: 574px) {
  .home-section .full-screen .home-text h2 {
    font-size: 30px;
  }
  .home-section .home-img .img-box,
.about-section .about-img .img-box {
    max-width: 260px !important;
  }
  .service-section .grid .service-item {
    width: 48%;
  }
  .service-section .grid .service-item .service-item-inner {
    padding: 20px 10px;
  }
}/*# sourceMappingURL=sytle.css.map */